@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Тестовый стенд</title>
</head>
<body>
    <h2>Начало...</h2>
</body>